.not-found-wrap {
  position: relative;
  top: -24px;
  padding-top: 24px;
  margin-bottom: -24px;
  min-height: 512px;
  background-image: url('../../assets/img/bottom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
a:hover{
  text-decoration:none;
}
@media screen and (min-width: 2000px){
  .not-found-wrap {
    min-height: 700px;
  }
}
