footer {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  min-width: 100%;
  background: -webkit-linear-gradient(130deg, rgb(0, 188, 212), #4766c8, rgb(100, 48, 148));
  background: -moz-linear-gradient(130deg, rgb(0, 188, 212), #4766c8, rgb(100, 48, 148));
  background: -ms-linear-gradient(130deg, rgb(0, 188, 212), #4766c8, rgb(100, 48, 148));
  background: -o-linear-gradient(130deg, rgb(0, 188, 212), #4766c8, rgb(100, 48, 148));
  background: linear-gradient(130deg, rgb(0, 188, 212), #4766c8, rgb(100, 48, 148));
  color: #fff;
}
a {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}
a:hover {
  color: #c2c2c2;
  text-decoration: none;
}
a:active {
  color: #a0a0b4;
}
