<div class="nav-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav">
          <div class="nav-links-wrap">
            <li *ngIf="authService.loginState" class="nav-item">
              <a [routerLink]="['/home']" class="nav-link active">Home</a>
            </li>
            <li *ngIf="authService.loginState" class="nav-item">
              <a class="nav-link active" (click)="logout()">Log Out</a>
            </li>
          </div>
          <h4 class="logo"><a [routerLink]="['/home']" class="nav-link active">Flashcards</a></h4>
        </ul>
      </div>
    </div>
  </div>
</div>
<br />
